<footer class="footer">
  <h6>
    Built with ❤️ by
    <a href="https://github.com/Nabia-Sheikh" target="_blank" rel="noreferrer">
      <i class="fa fa-github"></i>
      Nabia Sheikh
    </a>
  </h6>
  </footer>